{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Search</title>
    <style type="text/css">
        body {
            min-width: 500px;
        }
    </style>
    <script src="{% static 'app_dj/js/jquery.min.js' %}"></script>
    <script src="{% static 'app_dj/js/csrf_protection.js'%}"></script>
    <script>
        function log(m) {
            d = document.getElementById("log");
            d.innerHTML = m + "<br/>" + d.innerHTML;
        }

        function clear() {
            document.getElementById("log").reset();
        }

        $(document).ready(function () {

            $("#search").click(function(event) {
                event.preventDefault();

                var index = $("#index").val();
                var type = $("#type").val();
                var body = $("#body").val();

                $.ajax({
                    url: '/elastic/query/',
                    type: 'POST',
                    data: {index: index, type: type, body: body},
                    "beforeSend": function(xhr, settings) {
                        console.log("Before Send");
                        $.ajaxSettings.beforeSend(xhr, settings);
                    },
                    success: function(result) {
                        log(JSON.stringify(result));
                    },
                    error: function() {
                        log("Failed!");
                    }
                });
            });
        });
    </script>
</head>
<body>
    Welcome!
    <br/>
    <br/>
    <div>
        <label for="index">Index:</label>
        <input type="text" id="index" value="titanic"/>

        <br/>
        <label for="type">Type:</label>
        <input type="text" id="type" value="passenger"/>

        <br/>
        <label for="body">Body:</label>
        <input type="text" id="body" value='{"size": 10, "query": {"constant_score": {"filter": {"range": {"age": {"from": 20, "to": 30}}}}}}'/>

        <br/>
        <input type="submit" id="search" value="Search"/>
        {% csrf_token %}
    </div>
    <br/>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <br/>
    <div id="log"></div>
</body>
</html>